table tr td input[type="text"]{height:30px;font-size:20px;}
table tr td>input[type="submit"]{text-align:right;}
table tr td{text-transform:capitalize;vertical-align:top;}
table tr td:first-child{padding-right:15px;vertical-align:middle;}
table tr td ul{border:1px solid #ccc}
table tr td ul li{list-style:none;height:auto;line-height:25px;font-size:12px;padding-left:5px}
table tr td ul li i{margin-right:5px}
table tr td ul li:first-child{font-weight:bold;border-bottom:1px solid #ccc;height:25px;line-height:25px;}
.sub_table tr td{padding:0!important}
.sub_table tr:first-child{text-align:right;}